[user]
	name = John Williams
	email = john@rover.com
[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/nvim
[alias]
    co = checkout
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
[push]
	default = simple

[difftool]
    prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "vimdiff3"]
	path = nvim
[merge]
	tool = nvimdiff
