[project]
	description = Jaidan's Dotfiles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Williams (Jaidan)
[access "refs/for/refs/*"]
	read = group user/John Williams (Jaidan)
	push = group user/John Williams (Jaidan)
	label-Code-Review = -2..+2 group user/John Williams (Jaidan)
	label-Verified = -1..+1 group user/John Williams (Jaidan)
	rebase = group user/John Williams (Jaidan)
	removeReviewer = group user/John Williams (Jaidan)
	submit = group user/John Williams (Jaidan)
[access "refs/heads/*"]
	read = group user/John Williams (Jaidan)
	create = group user/John Williams (Jaidan)
	push = +force group user/John Williams (Jaidan)
	pushMerge = group user/John Williams (Jaidan)
[access "refs/tags/*"]
	push = +force group user/John Williams (Jaidan)
	pushTag = group user/John Williams (Jaidan)
	pushSignedTag = group user/John Williams (Jaidan)
